
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/Visual_Neuron_Modelling.iml
.idea/workspace.xml
.idea/*
alexnet/__pycache__/caffe_classes.cpython-37.pyc
*.pyc
